body{
	margin: 0;
	padding: 0;
	background-color: #4c9ca8;
}
.box{
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	/*border-radius: 12px;*/
}
.title{
	margin: 0;
	padding: 8px;
	background-color: #dce0e0;
	color: #01000a;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}
input[type='button']{
	margin: 0;
	padding: 0;
	width: 85px;
	height: 80px;
	font-size: 35px;
	cursor: pointer;
}
input[type=text]{
	margin: 0;
	padding: 0;
	width: 264px;
	height: 80px;
	text-align: right;
	font-size: 30px;
}